<!DOCTYPE html>
<html lang="en" style="overflow-x:hidden !important;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | SciBase</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" rel="stylesheet">
     
    <link rel="stylesheet" type="text/css" href="/stylesheets/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/select2-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/rangeslider.css">


    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->       
    <script type="text/javascript" src="/javascripts/jquery-1.12.4.min.js"></script>

  </head>
  <body style="overflow-x:hidden !important;">
    {{{body}}}
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>    
    
  </body>
</html>